
/* Todo clase parrafo de la etiqueta article es color aqua */
article p.parrafo { /* tag tag.class */
    color: #0ff; /* Aqua en hexadecimal*/
}


article h2 { /* tag tag */
    color: #ff0000; /* Todos los titulos h2 en article serán rojos */
}


/* Exceptuando el articulo dos que tendra su titulo h2 en color peru */
#article2 h2 { /* #id tag */
    color: black;
}


* { /* Selector que aplica a todas las etiquetas no modificadas por otras */
    font-size: 16px;
}


article {
    border: 2px #f00 dashed; /* Y tendrán un border (Grosor, color, style) */
    border-radius: 10px;
}


article p{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 2em; /* Medida relativa al tamaño de la fuente contenida */
    /* border-radius: 2em; */ /* Medida relativa al tamaño de la fuente raiz (<html>) */
}

section {
    background-color: rgba(0,255,255,0.3); /* La opacidad en rgba(,,,opacidad) va de 0 a 1 */
}

footer {
    opacity: 0.5;
}

